*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00054d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal__content {
    background-color: #fff; 
    margin: 10% auto; 
    padding: 20px;
    border-radius: 8px; 
    width: 50%; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    position: relative; 
}

.close {
    position: absolute; 
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do formulário */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px); /* Melhor alinhamento dos campos */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para garantir que o padding não afete o tamanho do input */
}

/* Estilo do botão de cadastrar */
form button {
    background-color: #28a745; /* Verde padrão para o botão */
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
}
